{% extends 'base.html.twig' %}

{% block title %}Referral{% endblock %}

{% block body %}
    <h1>Referral</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ referral.id }}</td>
            </tr>
            <tr>
                <th>Attribute</th>
                <td>{{ referral.attribute }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ referral.createdAt ? referral.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ referral.updatedAt ? referral.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('referral_index') }}">back to list</a>

    <a href="{{ path('referral_edit', {'id': referral.id}) }}">edit</a>

    {{ include('referral/_delete_form.html.twig') }}
{% endblock %}
