{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>

    <a class="btn btn-primary" href="{{ path('mh_page_post_new') }}">Create new</a>
    <a class="btn btn-primary" href="{{ path('mh_page_post_new', {'sample':true}) }}">Create sample</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Tags</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.content|striptags|slice(0,50) }} ...</td>
                <td>{% for tag in post.tags %}{{ tag.name }}, {% endfor %}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('mh_page_post_show', {'id': post.id}) }}">show</a>
                    <a class="btn btn-sm btn-primary" href="{{ path('mh_page_post_edit', {'id': post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
