<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="{% block author %}{{ config.author }}{% endblock %}" />
        <meta name="description" content="{% block description %}{{ config.description }}{% endblock %}">

        <title>{% block title %}{{ site.title }}{% endblock %}</title>

        <link href="{{ asset('bundles/mhpage/css/plugins.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mhpage/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mhpage/css/responsive.css') }}" rel="stylesheet">

        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div class="body-inner">
            {% include "@MhPage/main/topbar.html.twig" %}
            {% include "@MhPage/main/header.html.twig" %}

            <main id="main">
            {% include "@MhPage/main/page_title.html.twig" %}

            {% set sidebar = config.sidebar %}

            {% if config.content is not defined or config.content.hide_container is not defined or config.content.hide_container == false %}
            <section id="page-content">
                <div class="container">
            {% endif %}

                    {% if sidebar.left is defined and sidebar.left == true and sidebar.right is defined and sidebar.right == true %}
                    {% set col = 6 %}
                    {% elseif sidebar.left is defined and sidebar.left == true or sidebar.right is defined and sidebar.right == true %}
                    {% set col = 9 %}
                    {% else %}
                    {% set col = 12 %}
                    {% endif %}

                    {% if col != 12 %}<div class="row">{% endif %}

                        {% if sidebar.right is defined and sidebar.right == true %}
                        <div class="sidebar col-lg-3 {% if sidebar.modern is defined and sidebar.modern == true %}sidebar-modern{% endif %}">
                            {% block sidebar_right %}sidebar right{% endblock %}
                        </div>
                        {% endif %}

                        {% if col != 12 %}<div class="content col-lg-{{ col }}">{% endif %}
                            {% block body %}{% endblock %}
                        {% if col != 12 %}</div>{% endif %}

                        {% if sidebar.left is defined and sidebar.left == true %}
                        <div class="sidebar col-lg-3 {% if sidebar.modern is defined and sidebar.modern == true %}sidebar-modern{% endif %}">
                            {% block sidebar_left %}sidebar left{% endblock %}
                        </div>
                        {% endif %}

                    {% if col != 12 %}</div>{% endif %}

            {% if config.content is not defined or config.content.hide_container is not defined or config.content.hide_container == false %}
                </div>
            </section>
            {% endif %}
            </main>

            {% include "@MhPage/main/footer.html.twig" %}
        </div>

        <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>
        <script src="{{ asset('bundles/mhpage/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/mhpage/js/plugins.js') }}"></script>
        <script src="{{ asset('bundles/mhpage/js/functions.js') }}"></script>
        <script src="{{ asset('bundles/mhpage/js/custom.js') }}"></script>

        {% if config.google is defined and config.google %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102242943-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ config.google }}');
        </script>
        {% endif %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
