{% extends 'base.html.twig' %}

{% block title %}Page index{% endblock %}

{% block body %}
    <h1>Page index</h1>

    <div class="alert alert-info">
        <p>Read the documentation for help here <a target="_open" href="http://www.inspirothemes.com/polo/shortcode-lists.html">Polo documentation</a>.</p>
        <p>Find image inspiration here</p>
        <ul>
            <li><a target="_open" href="https://www.pexels.com/">https://www.pexels.com/</a></li>
            <li><a target="_open" href="https://allthefreestock.com/">https://allthefreestock.com/</a></li>
            <li><a target="_open" href="http://thestocks.im/">http://thestocks.im/</a></li>
            <li><a target="_open" href="http://unsplash.com/">http://unsplash.com/</a></li>
        </ul>
    </div>

    <a class="btn btn-primary" href="{{ path('mh_page_page_new') }}">Create new</a>
    <a class="btn btn-primary" href="{{ path('mh_page_page_wizard') }}">Wizard</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Site</th>
                <th>Header</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.site.title }}</td>
                <td>
                    {{ page.header }}
                    {% if page.isFrontpage %}<span class="badge badge-success">Frontpage</span>{% endif %}
                </td>
                <td>{{ page.createdAt ? page.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ page.updatedAt ? page.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('mh_page_page_show', {'id': page.id}) }}">show</a>
                    <a class="btn btn-sm btn-primary" href="{{ path('mh_page_page_edit', {'id': page.id}) }}">edit</a>
                    <a class="btn btn-sm btn-primary" target="_open" href="{{ path('mh_page_main_play', {'id': page.id}) }}">play</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
