{% set hc = config.header %}

{% set fixed = '' %}
{% if hc.always_fixed is defined and hc.always_fixed == true %}
{% set fixed = ' header-always-fixed' %}
{% endif %}

{% set mini = '' %}
{% if hc.mini is defined and hc.mini == true %}
{% set mini = ' header-mini' %}
{% endif %}

{% set modern = '' %}
{% if hc.modern is defined and hc.modern == true %}
{% set modern = ' header-modern' %}
{% endif %}

{% set logoposition = '' %}
{% if hc.logo is defined %}
{% if hc.logo == 'right' %}
{% set logoposition = ' header-logo-right' %}
{% endif %}
{% endif %}

{% set fixeddisabled = '' %}
{% if hc.fixed_disabled is defined and hc.fixed_disabled == true %}
{% set fixeddisabled = ' header-disable-fixed' %}
{% endif %}

{% set fullwidth = '' %}
{% if hc.fullwidth is defined and hc.fullwidth == true %}
{% set fullwidth = 'data-fullwidth="true"' %}
{% endif %}

{% set transparent = '' %}
{% if hc.transparent is defined and hc.transparent == true %}
{% set transparent = 'data-transparent="true"' %}
{% endif %}

{% set responsive = '' %}
{% if hc.responsive is defined and hc.responsive == true %}
{% set responsive = 'data-responsive-fixed="true"' %}
{% endif %}

{% set logo_light = 'bundles/mhpage/images/logo.png' %}
{% set logo_dark = 'bundles/mhpage/images/logo-dark.png' %}
{% if config.main.logo_light is defined and config.main.logo_light != '' %}
{% set logo_light = config.main.logo_light %}
{% endif %}

{% if config.main.logo_dark is defined and config.main.logo_dark != '' %}
{% set logo_dark = config.main.logo_dark %}
{% endif %}

<header id="header" class="{{ config.header.type }}{{ modern }}{{ mini }}{{ logoposition }}{{ fixed }}{{ fixeddisabled }}" {{ fullwidth|raw }} {{ transparent|raw }} {{ responsive|raw }}>
    <div class="header-inner">
        <div class="container">

            <div id="logo">
                <a href="{{ path('mh_page_main') }}" class="logo" data-src-dark="{{ asset(logo_dark) }}">
                    <img src="{{ asset(logo_light) }}" alt="{{ config.site.title }}">
                </a>
            </div>

            {% if config.main.search is defined and config.main.search == true %}
            <div id="search">
                <div id="search-logo"><img src="{{ asset(logo_light) }}" alt="{{ config.site.title }}"></div>
                <button id="btn-search-close" class="btn-search-close" aria-label="Close search form"><i class="icon-x"></i></button>
                <form class="search-form" action="{{ path('mh_page_search_index') }}" method="get">
                    <input class="form-control" name="q" type="search" placeholder="Søg..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                    <span class="text-muted">Start med at skriv og tast "Enter" for at søge, eller "ESC" for at lukke vinduet.</span>
                </form>
            </div>

            <div class="header-extras">
                <ul>
                    <li>
                        <a id="btn-search" href="#"> <i class="icon-search1"></i></a>
                    </li>
                </ul>
            </div>
            {% endif %}

            <div id="mainMenu-trigger">
                <button class="lines-button x"> <span class="lines"></span> </button>
            </div>

            <div id="mainMenu" {% if hc.menu_position is defined %}class="{{ hc.menu_position }}"{% endif %}>
                <div class="container">
                    <nav>
                        <ul>
                            {% if config.main.show_home is defined and config.main.show_home == true %}
                            <li><a href="{{ path('mh_page_main') }}">Home</a></li>
                            {% endif %}

                            {% for item in config.menuItems %}

                            {% if item.url matches '{^http}' %}
                            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                            {% elseif item.url %}
                            <li><a href="{{ path(item.url) }}">{{ item.title }}</a></li>
                            {% else %}
                            <li><a href="{{ path('mh_page_wildcard', {'page':item.slug}) }}">{{ item.title }}</a></li>
                            {% endif %}

                            {% endfor %}

                            {% if config.main.show_login is defined and config.main.show_login == true and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li><a href="{{ path('mh_page_login_home') }}">Profile</a></li>
                            {% elseif config.main.show_login is defined and config.main.show_login == true %}
                            <li><a href="{{ path('mh_page_app_login') }}">Login</a></li>
                            {% endif %}

                            {% if config.main.show_register is defined and config.main.show_register == true %}
                            <li><a href="{{ path('mh_page_app_register') }}">Register</a></li>
                            {% endif %}

                            {% if config.main.show_admin is defined and config.main.show_admin == true %}
                            <li><a href="{{ path('mh_page_admin') }}">Admin</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</header>
